# TU PRIMERA SEMANA COMO DATA SCIENTIST (POR DS4B)

## DIA 1: CONFIGURACIÓN DEL ENTORNO

### CARGA DE LIBRERIAS

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### CARGA DE LOS DATOS

Antes de continuar deberás:

* Haber descargado los datos de la plataforma

* Haberlos descomprimido en alguna carpeta de tu disco duro

* Haberlos subido a Colab mediante el explorador de archivos (icono de carpeta - icono de subir archivo)

In [2]:
df = pd.read_csv('AbandonoEmpleados.csv', sep = ';', index_col= 'id', na_values='#N/D')

In [3]:
df

,edad,abandono,viajes,departamento,distancia_casa,educacion,carrera,empleados,satisfaccion_entorno,sexo,...,satisfaccion_companeros,horas_quincena,nivel_acciones,anos_experiencia,num_formaciones_ult_ano,conciliacion,anos_compania,anos_en_puesto,anos_desde_ult_promocion,anos_con_manager_actual
id,,,,,,,,,,,,,,,,,,,,,
1,41,Yes,Travel_Rarely,Sales,1,Universitaria,Life Sciences,1,Media,3.0,...,Baja,80,0,8,0,NaN,6,NaN,0,5
2,49,No,Travel_Frequently,Research & Development,8,Secundaria,Life Sciences,1,Alta,2.0,...,Muy_Alta,80,1,10,3,NaN,10,NaN,1,7
4,37,Yes,Travel_Rarely,Research & Development,2,Secundaria,Other,1,Muy_Alta,2.0,...,Media,80,0,7,3,NaN,0,2.0,0,0
5,33,No,Travel_Frequently,Research & Development,3,Universitaria,Life Sciences,1,Muy_Alta,3.0,...,Alta,80,0,8,3,NaN,8,3.0,3,0
7,27,No,Travel_Rarely,Research & Development,2,Universitaria,Medical,1,Baja,3.0,...,Muy_Alta,80,1,6,3,NaN,2,NaN,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,36,No,Travel_Frequently,Research & Development,23,Master,Medical,1,Alta,4.0,...,Alta,80,1,17,3,NaN,5,4.0,0,3
2062,39,No,Travel_Rarely,Research & Development,6,Secundaria,Medical,1,Muy_Alta,2.0,...,Baja,80,1,9,5,NaN,7,NaN,1,7
2064,27,No,Travel_Rarely,Research & Development,4,Master,Life Sciences,1,Media,4.0,...,Media,80,1,6,0,NaN,6,NaN,0,3
2065,49,No,Travel_Frequently,Sales,2,Secundaria,Medical,1,Muy_Alta,NaN,...,Muy_Alta,80,0,17,3,NaN,9,NaN,0,8
2068,34,No,Travel_Rarely,Research & Development,8,NaN,Medical,1,Media,4.0,...,Baja,80,0,6,3,Muy_Alta,4,NaN,1,2

### ANÁLISIS DE CALIDAD - Estructura y tipos

Revisamos la estructura del dataset y los tipos inferidos para detectar columnas que deberían ser categóricas pero están como numéricas (o al revés).

In [5]:
# Tipos por columna
df.dtypes
# Tabla resumen
pd.DataFrame({'columna': df.columns, 'tipo': df.dtypes})

                                           columna     tipo
edad                                          edad    int64
abandono                                  abandono   object
viajes                                      viajes   object
departamento                          departamento   object
distancia_casa                      distancia_casa    int64
educacion                                educacion   object
carrera                                    carrera   object
empleados                                empleados    int64
satisfaccion_entorno          satisfaccion_entorno   object
sexo                                          sexo  float64
implicacion                            implicacion   object
nivel_laboral                        nivel_laboral    int64
puesto                                      puesto   object
satisfaccion_trabajo          satisfaccion_trabajo   object
estado_civil                          estado_civil   object
salario_mes                            salario_mes    int64
num_empresas_anteriores    num_empresas_anteriores    int64
mayor_edad                              mayor_edad   object
horas_extra                            horas_extra   object
incremento_salario_porc    incremento_salario_porc    int64
evaluacion                              evaluacion   object
satisfaccion_companeros    satisfaccion_companeros   object
horas_quincena                      horas_quincena    int64
nivel_acciones                      nivel_acciones    int64
anos_experiencia                  anos_experiencia    int64
num_formaciones_ult_ano    num_formaciones_ult_ano    int64
conciliacion                          conciliacion   object
anos_compania                        anos_compania    int64
anos_en_puesto                      anos_en_puesto  float64
anos_desde_ult_promocion  anos_desde_ult_promocion    int64
anos_con_manager_actual    anos_con_manager_actual    int64

In [6]:
# Valores únicos en columnas numéricas que podrían ser categóricas
# (pocos valores distintos = candidatas a categórica)
for col in df.select_dtypes(include=[np.number]).columns:
    n_unicos = df[col].nunique()
    if n_unicos <= 20:
        print(f"{col}: {n_unicos} valores únicos -> {sorted(df[col].dropna().unique().tolist())}")

empleados: 1 valores únicos -> [1]
sexo: 4 valores únicos -> [1.0, 2.0, 3.0, 4.0]
nivel_laboral: 5 valores únicos -> [1, 2, 3, 4, 5]
num_empresas_anteriores: 10 valores únicos -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
incremento_salario_porc: 15 valores únicos -> [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
horas_quincena: 1 valores únicos -> [80]
nivel_acciones: 4 valores únicos -> [0, 1, 2, 3]
num_formaciones_ult_ano: 7 valores únicos -> [0, 1, 2, 3, 4, 5, 6]
anos_en_puesto: 4 valores únicos -> [1.0, 2.0, 3.0, 4.0]
anos_desde_ult_promocion: 16 valores únicos -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
anos_con_manager_actual: 18 valores únicos -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]